.page-nav {
    display: flex;
    width: 87.5rem;
    height: 3.75rem;
    padding: 0.625rem 2.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1rem;
    background: var(--White, #FBFDFF);
}

.nav-elements {
    display: flex;
    width: 82.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.nav-elements>img {
    width: 13.6875rem;
    height: 2.5rem;
    flex-shrink: 0;
}

.nav-elements .noDecoration,
.nav-elements a:link,
.nav-elements a:visited {
    text-decoration: none;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

#icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}