header {
  padding-top: 1rem;
}

#left-black-disk {
  width: 547px;
  height: 633px;

  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

  padding: 87px 0px 0px 173px;
}

#right-black-disk {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

  padding: 30px 20px 30px 40px;
}

#banana {
  width: 525.437px;
  height: 489.716px;
  transform: rotate(-73.387deg);
}

#abstract {
  width: 660px;
  height: 660px;
}

#gdynia-disk,
#gdansk-disk {
  width: 360px;
  height: 360px;
  padding: 10px;
  gap: 10px;
  border-radius: 360px;
}

#gdynia-disk {
  background: var(--Yellow-Yellow-500, #FCE36E);
}

#gdansk-disk {
  background: var(--Purple-Purple-500, #3E1DAA);
}

.black-disk {
  border-radius: 480px;
  background: var(--Black, #1F0812);
}